.drf-container h2{color:#0c7cba;font-weight:bold;}
.form-container{border:1px solid #D3D3D3;margin: 30px 0;}
.form-container h3{color:#696969; font-family :arial regular;}
.form-close{color:#696969;}


.mainDiv{
    padding: 30px;
}

 .group1{
    padding:30px;
        }
#formSection{
     color: #696969;
    font-style: normal;
    font-family: Arial Regular;
    font-size: 25pt;
  
    
  }
#required{
    padding:20px;
    color: red;
    float: right;
    }
#manditory{
    color:red;

}
.form-group{
    padding: 20px 0px 0px 20px;
    font: bold 20px arial, sans-serif;

}