<!Doctype html>
<html lang="en" ng-app="allData">
<head>
<title>Case Management</title>
<meta http-equiv="X-UA_Compatible" content="IE-Edge">
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../libraries/angular.min.js" type="text/javascript"></script>
<script src="../../libraries/angular-route.js" type="text/javascript"></script>
<link rel="stylesheet" href="../../libraries/bootstrap.min.css" />
<script src="../../libraries/jquery.min.js" type="text/javascript"></script>
<script src="../../libraries/bootstrap.min.js" type="text/javascript"></script>
<script src="../../js/script.js" type="text/javascript"></script>
<script src="../../js/app.js" type="text/javascript"></script>
<link rel="stylesheet" href="../../css/font-awesome.css" />
<link rel="stylesheet" href="../../css/custom.css" />
</head>
<body>
<div class="container">

<nav class="navbar topNavigation">
<div class="navbar-header">
<h2>ALLDATA</h2>
</div>
<div class=" nav navbar-nav">
<h3>Tech Assist</h3>
</div>
<ul class="nav navbar-nav navbar-right rightNav">
<li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Username</a></li>
<li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
<li><a href="#"><span class="glyphicon glyphicon-th"></span></a></li>
</ul>
</nav>



<!-- # TA Landing Page -->
<div class="container-fluid">
<div class="row content">
<div class="col-sm-3 leftpanel">
<p><span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;<span class="title"><i class="fa fa-pie-chart phoneicon"></i>Analytics</span></p>
<ul class="subTitle">
<li>Dashboard</li>
<li>Ticket Backlog</li>
<li><span class="glyphicon glyphicon-triangle-right custom-right-icon"></span>&nbsp;Reports</li>
</ul>
<p><span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;<span class="title"><span class="glyphicon glyphicon-earphone phoneicon"></span>Call Backs</span></p>
<ul class="subTitle">
<li>My Call Backs</li>
<li>All Call Backs</li>
</ul>
<p><span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;<span class="title"><span class="fa fa-ticket phoneicon"></span>Tickets</span></p>
<ul class="subTitle">
<li>My Tickets</li>
<li class="active">All Tickets</li>
<li>Open</li>
<li>Submitted</li>
<li>Published</li>
<li>Declined</li>
<li>Archived</li>
</ul>
<div class="container-fluid bottom-grid">
<div class="row button-col"><button type="button" class="btn btn-primary button">Create Ticket</button></div>
</div>
</div>
<div class="col-sm-6 centerContent">
<div class="row">
<form class="form-horizontal" role="form">
<div class="form-group">
<div class="col-sm-5">
<input class="form-control type="search">
<span class="glyphicon glyphicon-search"></span>
</div>

<div class="col-sm-3">
<select class="form-control">
<option>Sort By</option>
</select>
</div>
<div class="col-sm-3">
<select class="form-control">
<option>Filter By</option>
</select>
</div>

</div>
</form>
</div>
</div>
<div class="col-sm-3 rightpanel">
adflajsdfkjasdklfj
</div>

</div>

</div><!-- end Tech Assist Landing Page-->


</div>
</body>
</html>
